/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-filiwp-dogs {
	.dog-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 1rem;
		column-gap: 1rem;

		.dog {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: white;
			padding: 1rem;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

			img {
				width: 100%;
				height: auto;
				border-radius: 5px;
				margin-bottom: 0.5rem;
			}

			h2 {
				margin: 0;
			}

			h4 {
				margin: 0.35rem;
				font-size: 1.25rem;
				color: rgb(196, 154, 96);
			}

			p {
				margin: 0;
				/* color: rgb(196, 154, 96); */
			}
		}
	}
}
